
    <link rel="stylesheet" href="./stylesheets/darkly.css">
    <!-- the action is what to do when submitted, and the method is how to get there.
    the post is a more secure way to go to a site, and is how sensitive info (login, etc...
    is redirected) -->
    <form action="/search-movies/movie" method='post' id="movie-form" >
        <input id="search-input" type="text" name="movieTitle" placeholder="Enter your movie search here" />
        <button type="submit" class="btn btn-primary">Search</button>
    </form>