<h1>Hello, class</h1>
<!-- if you do an = with the %, that means print, and without it means evaluate -->
<p><%= title %></p> 

<p><a href ="pithos"/a>Pithos</a></p>
<p><a href ="movie_app"/a>Movie App</a></p>
<p><a href ="Christmas_Timer"/a>Christmas Timer</a></p>
<p><a href ="memory_game"/a>Memory Game</a></p>

<ul>
    <% for (let i= 0;i<students.length; i++){ %>
        <li> <%= students[i] %></li>
    <%} %>
</ul>