<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>animal game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon"/>
    <link rel="stylesheet" href="./stylesheets/darkly.css">
    <link rel="stylesheet" href="./stylesheets/styles.css">
</head>